<mat-toolbar color="primary" class="navbar mt-2">
    <div>Student Enrollment Application</div>
    <div>
        <!--
            
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
        
        -->
        <button class="btn btn-primary" routerLink="/signin">Log out</button>
    </div>
</mat-toolbar>
<!--
    <div class="card col-md-6 d-flex align-items-center mt-2 p-4 bg-light shadow">
    <div>
        <img src="assets\images\—Pngtree—man avatar with circle frame_8515464.png">
    </div>
    Hello User,
</div>
-->
<div class="row">
    <div class="col-lg-4 mt-4">
        <div class="card mb-4 bg-light shadow">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">Shamil Muhyin K</h5>
                <p class="text-muted mb-1">Student</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mt-4">
        <div class="card mb-4 bg-light shadow">
            <div class="card-body">
                
                
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">137/B,Lulu House</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">City</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">Kochi</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">State</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">Kerala</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Pincode</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">682021</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Mobile</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">8078386890</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">shamilmuhyin@gmail.com</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">SSC percentage</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">99</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
