<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">

    <div class="row d-flex">

        <div class="col-md-4 d-flex align-items-center">

            <img src="assets\images\Programming-rafiki.svg">

        </div>

        <div class="col-md-4 offset-md-3 border-1">

            <div class="row d-flex">

                <div class="signup-form">

                    <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && userRegister()" class="mt-5 border p-4 bg-light shadow" novalidate >

                        <h4 class="mb-1 text-center fw-bold">Create an account</h4>

                        <p class="text-center text-secondary mt-3">Already have an account? Please <a class="fw-bold" href="#">Sign in here</a></p>

                        <div class="row">

                            <div class="col-s-12 mb-3 col-md-4">

                                <label for="exampleFormControlInput1" class="form-label">First Name<span class="text-danger">*</span></label>

                                <input type="text" name="fullname" class="form-control" placeholder="Enter your first name" [(ngModel)]="user.firstname" #fullname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fullname.errors }" required 
                                pattern="^[a-zA-Z]+$">
                                <div *ngIf="!fullname?.valid && (fullname?.dirty || fullname?.touched)" style="color: red;">
                                    
                                    <div *ngIf="fullname.errors?.['required']">
                                        First Name is required
                                     </div>
                                     <div *ngIf="fullname.errors?.['pattern']">
                                        Only character are allowed
                                     </div>
                                     
                                 </div>

                            </div>

                            <div class="mb-3 col-md-4">

                                <label>MiddleName<span class="text-danger">*</span></label>

                                <input type="text" name="middlename" class="form-control" placeholder="Enter your middle name" [(ngModel)]="user.middlename">

                            </div>

                            <div class="mb-3 col-md-4">

                                <label>Last Name<span class="text-danger">*</span></label>

                                <input type="text" name="lastname" class="form-control" placeholder="Enter your last name" [(ngModel)]="user.lastname" required  pattern="^[a-zA-Z]+$" #lastname="ngModel" >
                                <div *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)" style="color: red;">
                                    <div *ngIf="lastname.errors?.['required']">
                                        Last Name is required
                                     </div>
                                     <div *ngIf="lastname.errors?.['pattern']">
                                        Only character are allowed
                                     </div>
                                 </div>
                            </div>

                        </div>

                        <div class="mb-3 col-md-12">

                            <label>Address<span class="text-danger">*</span></label>

                            <input type="text" name="address" #address="ngModel" class="form-control" placeholder="Enter your address" [(ngModel)]="user.address" pattern="^[a-zA-Z]+$" maxlength="15" required>
                            <div *ngIf="!address?.valid && (lastname?.dirty || address?.touched)" style="color: red;">
                                <div *ngIf="address.errors?.['required']">
                                    Last Name is required
                                 </div>
                                 <div *ngIf="address.errors?.['maxlength']">
                                    Address Cannot exceeds minimum charecter 
                                 </div>
                                 <div *ngIf="address.errors?.['pattern']">
                                    Only character are allowed
                                 </div>
                             </div>
                             
                        </div>

                        <div class="row">

                            <div class="mb-3 col-md-4">

                                <label>City<span class="text-danger">*</span></label>

                                <input type="text" name="city" #city="ngModel" class="form-control" placeholder="Enter city" [(ngModel)]="user.city" required pattern="^[a-zA-Z]+$">
                                <div *ngIf="!city?.valid && (city?.dirty || city?.touched)" style="color: red;">
                                    <div *ngIf="city.errors?.['required']">
                                        city name is required
                                     </div>
                                     <div *ngIf="city.errors?.['pattern']">
                                        only character are allowed
                                     </div>
                                 </div>
                            </div>

                            <div class="mb-3 col-md-4">

                                <label>State<span class="text-danger">*</span></label>

                                <input type="text" name="state" #state="ngModel" class="form-control" placeholder="Enter state" [(ngModel)]="user.state" required pattern="^[a-zA-Z]+$">
                                <div *ngIf="!state?.valid && (state?.dirty || state?.touched)" style="color: red;">
                                    <div *ngIf="state.errors?.['required']">
                                        city name is required
                                     </div>
                                     <div *ngIf="state.errors?.['pattern']">
                                        only character are allowed
                                     </div>
                                 </div>
                            </div>

                            <div class="mb-3 col-md-4">

                                <label>Pincode<span class="text-danger">*</span></label>

                                <input type="text" name="pincode" #pincode="ngModel" class="form-control" placeholder="Enter pincode" [(ngModel)]="user.pincode" required pattern="^[0-9]+$" minlength="6" maxlength="6">
                                <div *ngIf="!pincode?.valid && (pincode?.dirty || pincode?.touched)" style="color: red;">
                                    <div *ngIf="pincode.errors?.['required']">
                                        pin code is required
                                     </div>
                                     
                                     <div *ngIf="pincode.errors?.['minlength']">
                                        pincode must be 6 digit numerical number
                                     </div>
                                     <div *ngIf="pincode.errors?.['maxlength']">
                                        pincode must be 6 digit
                                     </div>
                                 </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="mb-3 col-md-6">

                                <label>Mobile<span class="text-danger">*</span></label>

                                <input type="text" #mobile="ngModel" name="mobile" class="form-control" placeholder="Enter mobile number" [(ngModel)]="user.mobile" required pattern="^[0-9]+$" minlength="10" maxlength="10">
                                <div *ngIf="!mobile?.valid && (mobile?.dirty || mobile?.touched)" style="color: red;">
                                    <div *ngIf="mobile.errors?.['required']">
                                        mobile number is required
                                     </div>
                                     
                                     <div *ngIf="mobile.errors?.['minlength']">
                                        mobile number  must be 10 digit numerical number
                                     </div>
                                     <div *ngIf="pincode.errors?.['maxlength']">
                                        mobile number  must be 10 digit numerical number
                                     </div>
                                 </div>
                            </div>

                            <div class="col-s-12 mb-3 col-md-6">

                                <label>Email<span class="text-danger">*</span></label>

                                <input type="email" name="email" email  class="form-control" placeholder="Enter email" [(ngModel)]="user.email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required #emails="ngModel">
                                <div *ngIf="!emails?.valid && (emails?.dirty || emails?.touched)" style="color: red;">
                                    <div *ngIf="emails.errors?.['required']">
                                        email is required
                                     </div>
                                     
                                     
                                     <div *ngIf="emails.errors?.['email']">
                                        invalid email id
                                     </div>
                                 </div>
                            </div>

                        </div>

                            <div class="col-s-12 mb-3 col-md-12">

                                <label>SSC percentage<span class="text-danger">*</span></label>

                                <input type="text" name="sscpercentage" class="form-control" placeholder="Percentage" [(ngModel)]="user.sscpercentage" #ssc="ngModel" required pattern="^(\d*\.)?\d+$">
                                <div *ngIf="!ssc?.valid && (ssc?.dirty || ssc?.touched)" style="color: red;">
                                    <div *ngIf="ssc.errors?.['required']">
                                        percentage number is required
                                     </div>
                                     
                                     <div *ngIf="ssc.errors?.['pattern']">
                                        invalid percentage
                                     </div>
                                     
                                 </div>
                            </div>

                        <div class="mb-3 col-md-12">

                            <label>Password<span class="text-danger">*</span></label>

                            <input type="password" #pass="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$" required name="password" class="form-control" placeholder="Enter your password" [(ngModel)]="user.password" minlength="5">
                            <div *ngIf="!pass?.valid && (pass?.dirty || pass?.touched)" style="color: red;">
                                <div *ngIf="pass.errors?.['required']">
                                    password number is required
                                 </div>
                                 
                                 <div *ngIf="pass.errors?.['pattern']">
                                    <span style="color: green;">*</span> password must contain at least one uppercase, one lowercase, and one number
                                 </div>

                                 <div *ngIf="pass.errors?.['minlength']">
                                    <span style="color: green;">*</span> Password must be at least 5 characters long
                                 </div>
                                 
                             </div>
                        </div>

                        <div class="mb-3 col-md-12">

                            <label>Confirm password<span class="text-danger">*</span></label>

                            <input type="password" name="confirmpassword" appConfirmEqualValidator="password" class="form-control" placeholder="Re-enter your password" [(ngModel)]="user.confirmpassword" required #confirmpassword="ngModel">
                            <div *ngIf="!confirmpassword?.valid && (confirmpassword?.dirty || confirmpassword?.touched)" style="color: red;">
                                <div *ngIf="confirmpassword.errors?.['required']">
                                    confirm password number is required
                                 </div>
                                 
                                 <div *ngIf="confirmpassword.errors?.['notequal']">
                                    password And confirm password doesnot match
                                 </div>


                                 
                                 
                             </div>
                        </div>

                        <div class="row">

                            <div class="mb-3 col-md-6">

                                <button type="Submit" [attr.disable]="!f.valid" class="btn btn-primary">Submit</button>

                            </div>

                            <div class="mb-3 col-md-6">

                                <button type="reset" (click)="clicks()" class="btn btn-danger">Reset</button>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>